* {
  font-family: "Inter", "-apple-system";
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  flex-direction: column;
  font-family: "Inter", "-apple-system", "BlinkMacSystemFont", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
  border-radius: 20px;
  margin: 20px auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.item-listing {
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: row;
height: 200px;
width: 800px;
position: relative;
background: #ffffff;
box-shadow: 0 10px 20px #999999;
margin: 15px;

.item-listing__preview-image{
margin:15px;
}
.item-listing__title{
  text-transform: uppercase;
  margin-left: 37px;
}
img{
  width: 200px;
  height: 150px;
}
.item-listing__details{
  list-style-type: none;
}
}
  .heart{
    img{
      height:20px;
      width: 20px;
    }
    .fav_button{
      background:none;
      border: none;
    }
  }
  .item-listing__details{
    .sold{
      height:40px;
      width: 40px;
    }
  }
  .header-container{
display:flex;
form {
  display: flex;
}
img{
  margin-right:20px ;
  width:90px;
  height: 90px;
}
  }
.form_btns{
  display: flex;
  align-items: center;
}
.item-listing_1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 500px;
  width: 800px;
  position: relative;
  background: #ffffff;
  box-shadow: 0 10px 20px #999999;
  margin: 15px;
  .item-listing__preview-image{
    margin:15px;
    }
.item-listing__title{
      text-transform: uppercase;
      margin-left: 38px;
    }
    img{

      width: 400px;
      height: 250px;
    }
    .item-listing__details{

      list-style-type: none;
    }
}
